<div fxLayout="column" *ngIf="model != null && roles != null">
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let username of usernames; let i = index">
        <span class="username-dialog">{{username}}</span>
        <mat-form-field>
            <mat-select [(ngModel)]="model[i].participantTypeId" placeholder="Select Role">
                <mat-option *ngFor="let role of roles" [value]="role.participantTypeId">
                    {{ role.participantTypeName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="info-content" fxLayout="row" fxLayoutAlign="center center">
        <button class="mr-2" mat-raised-button color="primary" (click)="saveData()">Save</button>
        <button id="save-button" [mat-dialog-close]="roles" cdkFocusInitial [hidden]="true"></button>
        <button class="ml-2" mat-raised-button (click)="onNoClick()">Cancel</button>
    </div>
</div>