<div fxLayout="row" fxLayoutAlign="space-between start" *ngIf="users">
    <div fxFlex="70">
        <mat-sidenav-container class="nav-container" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-sidenav [appScrollSpy]="80" [className]="'left-content-spy'" class="left-content" mode="side" opened="true">
                <mat-nav-list id="nav-list" class="nav-list" *ngIf="selectedUserMenu">
                    <div class="nav-item" *ngFor="let menu of selectedUserMenu.data">
                        <a [hidden]="!menu.show" mat-list-item (click)="goToSection(menu.menuId, $event)">{{menu.menuName}}</a>
                    </div>
                    <a mat-list-item (click)="backToTop()">HOME</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="main-content">
                <div fxLayout="column" *ngIf="selectedUser && selectedUserMenu">
                    <mat-form-field>
                        <mat-select [(ngModel)]="selectedUser.participantTypeId" placeholder="Select Role">
                            <mat-option *ngFor="let role of roles" [value]="role.participantTypeId">
                                {{ role.participantTypeName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngFor="let menu of selectedUser.data">
                        <div class="info-container" id="{{menu.menuId}}" fxLayout="column">
                            <span class="info-title">{{getMenuNameById(menu.menuId)}} INFORMATION</span>
                            <div class="info-content" fxLayout="column" *ngFor="let field of menu.fields">
                                <form #appForm="ngForm">
                                    <app-custom-material name="abc" [(ngModel)]="field.fieldValue" [type]="field.controlType" [isDisable]="!field.enable" [isRequire]="true"
                                    [placeholder]="field.fieldName" [metadata]="getMetadataForField(field.fieldId)"></app-custom-material>
                                </form>
                            </div>
                        </div>
                        <div class="end-container"></div>
                    </div>
                    <div class="info-container mt-5" fxLayout="column">
                        <div class="info-content" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-2" mat-raised-button color="primary" (click)="saveData()">Save</button>
                            <button class="ml-2" mat-raised-button>Reset</button>
                        </div>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <div fxFlex="28" fxLayout="column" fxLayoutAlign="start start" [appScrollSpy]="60" [className]="'right-content-spy'" *ngIf="roles">
        <div fxLayout="column">
            <div class="user-content mb-3" *ngFor="let user of users" (click)="changeUser(user.loanParticpantId)" [ngClass]="{'user-content-active': user.loanParticpantId === selectedUser.loanParticpantId}">
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width': calcCompletedRequiredPercent(user)}">
                        {{calcCompletedRequiredPercent(user)}} Complete
                    </div>
                </div>
                <h4><i class="fa fa-user-circle fa-1x mr-2"></i>{{getUserName(user)}}</h4>
                <h6>{{getUserRole(user.participantTypeId)}}</h6>
            </div>
        </div>
    </div>
    <div class="action-content" fxLayout="row" fxLayoutAlign="center center">
        <button class="mr-2" mat-raised-button color="primary" (click)="saveData()">Save</button>
        <button class="ml-2" mat-raised-button>Reset</button>
    </div>
</div>
<a class="scroll-top" *ngIf="showScrolTop()" (click)="backToTop()" href="javascript:void(0)"></a>