.nav-container {
    background-color: unset !important;
    position: relative;
}

.left-content {
    left: 28%;
}

.main-content {
    margin-left: 50% !important;
    width: 100%;
    min-height: 500px;
}

.nav-list {
    margin-top: 30px;
    padding-top: 0px;
    right: 0;
    min-width: 200px;
    border: 1px solid rgba(0,0,0,.125);;
    border-radius: 5px;

    
}

.nav-item {
    border-bottom: 1px solid rgba(0,0,0,.125);
    text-transform: uppercase;
}

.info-container {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.info-content {
    padding: 20px 30px;
}

mat-radio-button {
    margin-bottom: 10px;
}

.info-title {
    text-transform: uppercase;
    padding: 10px;
    background-color: #e1e1ea;
    font-weight: bold;
}

.end-container {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.user-content {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 20px;
    min-width: 270px;
    text-align: center;
    color: #2d5268;
}

.user-content:hover {
    cursor: pointer;
    background-color: #2d5268;
    color: #ffffff;
}

.user-content-active {
    cursor: pointer;
    background-color: #2d5268;
    color: #ffffff;
}

.action-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
    border-top: 2px solid orange;
    background-color: #ffffff;
}

.scroll-top {
    position: fixed;
    background: url("../../assets/images/up-to-top.png") no-repeat;
    width: 98px;
    height: 98px;
    bottom: 70px;
    right: 110px;
}

.user-role {
    font-weight: 500;
    font-size: 22px;
}

.under-role {
    border-bottom: 5px solid #e1e1ea;
}

.role-content {
    align-items: baseline;
}

.username-dialog {
    font-weight: 500;
    font-size: 18px;
}
