<div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex="70">
        <mat-sidenav-container class="nav-container" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-sidenav [appScrollSpy]="80" [className]="'left-content-spy'" class="left-content" mode="side" opened="true">
                <mat-nav-list id="nav-list" class="nav-list">
                    <a class="nav-item" mat-list-item (click)="goToSection('section1', $event)">GENERAL</a>
                    <a class="nav-item" mat-list-item (click)="goToSection('section2', $event)">ADDRESS</a>
                    <a class="nav-item" mat-list-item (click)="goToSection('section3', $event)">CONTACT</a>
                    <a class="nav-item" mat-list-item (click)="goToSection('section4', $event)">EMPLOYMENT</a>
                    <a class="nav-item" mat-list-item (click)="goToSection('section5', $event)">FINANCIAL</a>
                    <a class="nav-item" mat-list-item (click)="goToSection('section6', $event)">LEGAL</a>
                    <a mat-list-item (click)="backToTop()">HOME</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="main-content">
                <div fxLayout="column">
                    <mat-form-field>
                        <mat-select placeholder="Select Role">
                            <mat-option *ngFor="let role of roles" [value]="role.key">
                                {{ role.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="info-container" id="section1" fxLayout="column">
                        <span class="info-title">GENERAL INFORMATION</span>
                        <div class="info-content" fxLayout="column">
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Last name">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="First name">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Middle Initial">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input matInput [disabled]="false" required="true" [matDatepicker]="dobPicker" placeholder="DOB">
                                <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dobPicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Social Security Number">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Mothers Maiden Name">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <mat-select [disabled]="false" required="true" placeholder="Citizenship Status">
                                    <mat-option *ngFor="let status of citizenshipStatus" [value]="status.key">
                                        {{ status.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <mat-select [disabled]="false" required="true" placeholder="If Dual Citizen - List other Country">
                                    <mat-option *ngFor="let country of otherCountries" [value]="country.key">
                                        {{ country.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-radio-group *ngIf="true" [disabled]="false" required="true" fxLayout="column">
                                <span class="placeholder-text">Currently Married?</span>
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Spouse's Last name">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Spouse's First name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="end-container"></div>
                    <div class="info-container" id="section2" fxLayout="column">
                        <span class="info-title">ADDRESS INFORMATION</span>
                        <div class="info-content" fxLayout="column">
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Residential Street Address 1">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Residential Street Address 2">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Residential City">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <mat-select [disabled]="false" required="true" placeholder="Residential State">
                                    <mat-option *ngFor="let state of states" [value]="state.key">
                                        {{ state.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Residential Zip Code">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Years at this Address">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Months at this Address">
                            </mat-form-field>
                            <mat-radio-group *ngIf="true" [disabled]="false" required="true" fxLayout="column">
                                <span class="placeholder-text">Mailing Address same as Residential Address?</span>
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Mailing Street Address 1">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Mailing Street Address 2">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Mailing City">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <mat-select [disabled]="false" required="true" placeholder="Mailing State">
                                    <mat-option *ngFor="let state of states" [value]="state.key">
                                        {{ state.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input [disabled]="false" required="true" matInput placeholder="Mailing Zip Code">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="end-container"></div>
                    <div class="info-container" id="section3" fxLayout="column">
                        <span class="info-title">CONTACT INFORMATION</span>
                        <div class="info-content" fxLayout="column">
                            <mat-form-field *ngIf="true">
                                <input type="tel" [disabled]="false" required="true" matInput placeholder="Home Phone">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="tel" [disabled]="false" required="true" matInput placeholder="Work Phone">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="tel" [disabled]="false" required="true" matInput placeholder="Mobile Phone">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="email" [disabled]="false" required="true" matInput placeholder="Personal Email Address">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="email" [disabled]="false" required="true" matInput placeholder="Work Email Address">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="end-container"></div>
                    <div class="info-container" id="section4" fxLayout="column">
                        <span class="info-title">EMPLOYMENT INFORMATION</span>
                        <div class="info-content" fxLayout="column">
                            <mat-form-field *ngIf="true">
                                <mat-select [disabled]="false" required="true" placeholder="Employment Status">
                                    <mat-option *ngFor="let status of empStatus" [value]="status.key">
                                        {{ status.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="text" [disabled]="false" required="true" matInput placeholder="Employer Name">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="number" [disabled]="false" required="true" matInput placeholder="Years at this Employer">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="text" [disabled]="false" required="true" matInput placeholder="Occupation">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="text" [disabled]="false" required="true" matInput placeholder="Employer Street Address 1">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="text" [disabled]="false" required="true" matInput placeholder="Employer Street Address 2">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="text" [disabled]="false" required="true" matInput placeholder="City">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <mat-select [disabled]="false" required="true" placeholder="State">
                                    <mat-option *ngFor="let state of states" [value]="state.key">
                                        {{ state.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="number" [disabled]="false" required="true" matInput placeholder="Zip code">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="end-container"></div>
                    <div class="info-container" id="section5" fxLayout="column">
                        <span class="info-title">FINANCIAL INFORMATION</span>
                        <div class="info-content" fxLayout="column">
                            <mat-form-field *ngIf="true">
                                <input type="number" [disabled]="false" required="true" matInput placeholder="Annual Income">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="number" [disabled]="false" required="true" matInput placeholder="Net Worth">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="number" [disabled]="false" required="true" matInput placeholder="Total Assets">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="text" [disabled]="false" required="true" matInput placeholder="Source Of Income">
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <textarea type="text" [disabled]="false" required="true" matInput placeholder="Source Of Wealth"></textarea>
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <mat-select [disabled]="false" required="true" placeholder="Account Type">
                                    <mat-option *ngFor="let type of accountTypes" [value]="type.key">
                                        {{ type.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="true">
                                <input type="text" [disabled]="false" required="true" matInput placeholder="Account Number">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="end-container"></div>
                    <div class="info-container" id="section6" fxLayout="column">
                        <span class="info-title">LEGAL INFORMATION</span>
                        <div class="info-content" fxLayout="column">
                            <mat-radio-group *ngIf="true" [disabled]="false" required="true" fxLayout="column">
                                <span class="placeholder-text">Are you a current or Senior Political Official or a Family Member or close associate of one?</span>
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>
                            <mat-radio-group *ngIf="true" [disabled]="false" required="true" fxLayout="column">
                                <span class="placeholder-text">Are you a defendant in any suit or legal action?</span>
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>
                            <mat-radio-group *ngIf="true" [disabled]="false" required="true" fxLayout="column">
                                <span class="placeholder-text">Have you ever gone through bankruptcy or had a judgement against you?</span>
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field *ngIf="true">
                                <textarea type="text" [disabled]="false" required="true" matInput placeholder="If you answered yes to any of these questions, please supply the details"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="info-container mt-5" fxLayout="column">
                        <div class="info-content" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-2" mat-raised-button color="primary">Save</button>
                            <button class="ml-2" mat-raised-button>Reset</button>
                        </div>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <div fxFlex="28" fxLayout="column" fxLayoutAlign="start start" [appScrollSpy]="60" [className]="'right-content-spy'">
        <div fxLayout="column">
            <div class="user-content mb-3" *ngFor="let user of users">
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width': calcCompletePercent(user.userId)}">
                        {{calcCompletePercent(user.userId)}} Complete
                    </div>
                </div>
                <h4><i class="fa fa-user-circle fa-1x mr-2"></i>{{getUserName(user.userId)}}</h4>
                <h6>{{getUserRole(user.participantType)}}</h6>
            </div>
        </div>
    </div>
</div>