<div fxLayout="row" fxLayoutAlign="center start">
  <div class="left-content" fxFlex="20" fxLayout="column">
    <div class="left-item " fxLayout="column">
      <div class="left-item-title padding-4">
        Credit Summary Report
      </div>
      <div class="left-item-content" fxLayout="row">
        <div fxFlex="60" fxLayout="column">
          <span class="item-name">Application: </span>
          <span class="item-name">Credit Review: </span>
          <span class="item-name">Risk Review: </span>
          <span class="item-name">Collateral Review: </span>
        </div>
        <div fxFlex="40" fxLayout="column">
          <span>Complete</span>
          <span>Pass</span>
          <span>Complete</span>
          <span>Complete</span>
        </div>
      </div>
    </div>
    <div class="left-item" fxLayout="column">
      <b class="padding-4">Booking Sheet</b>
      <div class="left-item-content" fxLayout="row">
        <div fxFlex="60" fxLayout="column">
          <span>TBD</span>
        </div>
        <div fxFlex="40" fxLayout="column">
          <span>TBD</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content" fxFlex="60">
    <p class="right-content-title right-title">CREDIT SUMMARY REPORT----SECURITIES-BASED LOAN</p>
    <div class="right-item" fxLayout="column">
      <div fxFlex="50" fxLayout="row">
        <div fxFlex="60" fxLayout="column">
          <span class="item-name">Lender Name:</span>
          <span class="item-name">Applicant ID:</span>
          <span class="item-name">Borrower:</span>
        </div>
        <div fxFlex="40" fxLayout="column">
          <span>Bank name</span>
          <span>456456</span>
          <span>John Smith</span>
        </div>
      </div>
      <div fxFlex="50">
        <div fxFlex="60" fxLayout="column">
          <span class="item-name">Approver:</span>
          <span class="item-name">Approved Line of Credit Amount:</span>
          <span class="item-name">Activation Date of Facility:</span>
        </div>
        <div fxFlex="40" fxLayout="column">
          <span>Dan Babayan</span>
          <span>$500,000.00</span>
          <span>MM/DD/YYYY</span>
        </div>
      </div>
    </div>
    <div class="right-item" fxLayout="column">
      <p class="right-item-title right-title">Document Review Summary Status: COMPLETE on MM/DD/YYYY</p>
      <span fxLayout="row">
        <img src="../../assets/images/ic-check-box.png">
        <span class="item-name">Application Received: </span>
        <span class="margin-left-20">MM/DD/YY</span>
      </span>
      <span fxLayout="row">
        <img src="../../assets/images/ic-check-box.png">
        <span class="item-name">Federal Reserve U-1 Form Received: </span>
        <span class="margin-left-20">MM/DD/YY</span>
      </span>
      <span fxLayout="row">
        <img src="../../assets/images/ic-check-box.png">
        <span class="item-name">Loan Agreement Sent: </span>
        <span class="margin-left-20">MM/DD/YY</span>
      </span>
      <span fxLayout="row">
        <img src="../../assets/images/ic-check-box.png">
        <span class="item-name">Regulation B Notices: </span>
        <span class="margin-left-20">MM/DD/YY</span>
      </span>
      <div class="margin-left-40" fxLayout="column">
        <div>
          <span class="item-name">Incomplete Application:</span>
          <span class="margin-left-20">MM/DD/YY</span>
        </div>
        <div>
          <span class="item-name">Approval Notice:</span>
          <span class="margin-left-20">MM/DD/YY</span>
        </div>
        <span>
          <span class="item-name">State Specific Disclosure:</span>
          <span class="margin-left-20">MM/DD/YY</span>
        </span>
      </div>
    </div>
    <div class="right-item" fxLayout="column">
      <p class="right-item-title right-title">Collateral Review: PASS</p>
      <span fxLayout="row">
        <img src="../../assets/images/ic-check-box.png">
        <span>Application Received: </span>
      </span>
      <span class="margin-left-40">
        Lorem is dolor...
      </span>
      <span fxLayout="row">
        <img src="../../assets/images/ic-check-box.png">
        <span>Account Numbers: </span>
      </span>
      <div class="margin-left-40" fxLayout="column">
        <div fxLayout="row">
          <span>1.</span>
          <span>123456789</span>
        </div>
        <div fxLayout="row">
          <span>2.</span>
          <span>123456789</span>
        </div>
      </div>
      <span fxLayout="row">
        <img src="../../assets/images/ic-check-box.png">
        <span>Standar Collateral: </span>
        <span class="margin-left-20">Lorem Ipsum</span>
      </span>
      <span fxLayout="row">
        <img src="../../assets/images/ic-check-box.png">
        <span>Other Quality Comments: </span>
      </span>
      <span class="margin-left-40">
        Lorem is dolor...
      </span>
      <span fxLayout="row">
        <img src="../../assets/images/ic-check-box.png">
        <span>Conditions: </span>
      </span>
      <span class="margin-left-40">
        Non Standard Collateral/Exceptions:
      </span>
    </div>
    <div class="right-item" fxLayout="column">
      <p class="right-item-title right-title">Credit Review: PASS</p>
    </div>
  </div>
</div>