/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.placeholder-text {
    color: rgba(0,0,0,.54);
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    pointer-events: none;
    font-size: 13px;
    margin-bottom: 10px;
}

.left-content-spy {
    position: fixed !important;
    left: calc(19.5% + 1px) !important;
}

.active-menu {
    background-color: #dcdcdc !important;
}

.progress-bar-success {
    background-color: #5cb85c !important;
}